%sidebar
{
    @extend %default;
    .widget
    {
        width: 100%;
        box-sizing: border-box;
        background: rgb(111, 0, 171);
        border-radius: 1em;
        border-color: rgb(111, 0, 171);
    }
}




.sidebar-left, .sidebar-right
{
    @extend %sidebar;
}