.widget
{
    @extend %default;

    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: get-color('widget-frame');
    list-style-type: none;
    .widgettitle
    {
        text-align: center;
        padding-right: 1em;
    }
}

.widget_calendar
{
    table
    {
        width: 99%;
        display: inline-table;
        text-align: center;
    }
}