$theme-color-bg: #0C0C0D;
$theme-color-font: rgba(255,255,255,1);
$theme-color: (
    "bg": $theme-color-bg,
    "bg-secondary": lighten($theme-color-bg,30),
    "font": $theme-color-font,
    "hr": invert($theme-color-bg),
    "widget-frame": invert($theme-color-bg),
    "font-link-hover": #ffc66d,//darken($theme-color-font,50)
    "bg-btn": #ffc66d,
    "font-btn": $theme-color-bg,
    "font-quote": invert($theme-color-font),
    "bg-quote": invert($theme-color-bg),
    "border": mix($theme-color-bg,lighten($theme-color-bg,30),0.5)
);

@function get-color($name) {
    @if map-has-key($theme-color, $name){
        @return var(--color-#{$name});
    }
    @else{
        @error "Sorry, but `#{$name}` is a undefined color in collection colors.";
    }
}


@mixin theme-colors-to-css-var() {
    :root{
        @each $name, $color in $theme-color {
            --color-#{$name}: #{$color};
        }
    }
    //@each $name, $color in $theme-color {
    //    .bg-#{$name} {
    //        background: get-color($name) !important;
    //    }
    //    .font-#{$name}{
    //        color: get-color($name) !important;
    //    }
    //}
}
@include theme-colors-to-css-var();
