$theme-color-bg: #222222;
$theme-color-font: #c8c8c8;
$theme-color: (
    "bg": $theme-color-bg,
    "font": $theme-color-font,
    "hr": invert($theme-color-bg),
    "widget-frame": invert($theme-color-bg),
    "font-link-hover": #ffc66d,//darken($theme-color-font,50)
    "font-quote": invert($theme-color-font),
    "bg-quote": invert($theme-color-bg)
);

@function get-color($name) {
    @if map-has-key($theme-color, $name){
        @return var(--color-#{$name});
    }
    @else{
        @error "Sorry, but `#{$name}` is a undefined color in collection colors.";
    }
}


@mixin theme-colors-to-css-var() {
    :root{
        @each $name, $color in $theme-color {
            --color-#{$name}: #{$color};
        }
    }
    //@each $name, $color in $theme-color {
    //    .bg-#{$name} {
    //        background: get-color($name) !important;
    //    }
    //    .font-#{$name}{
    //        color: get-color($name) !important;
    //    }
    //}
}
@include theme-colors-to-css-var();
