.wp-block-code
{
    background: get-color('bg-quote');
    color: get-color('font-quote');
    box-sizing: border-box;
    box-shadow: inset 0px 4px 15px 2px #222222;
    border-radius: 17px;
    border:1px solid #222222;
    padding: 10px;
}